[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-storage-blob = "*"
beautifulsoup4 = "*"
numpy = "*"
pandas = "*"
psycopg2 = "*"
pyarrow = "*"
requests = "*"
sqlalchemy = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
